@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@custom-variant dark (&:is(.dark *));
@import "tailwindcss";

@theme {
  --color-primary: #fa8232;
  --color-secondary: #2484c2;
  --color-secondary-700: #1b6392;
  --color-gray: #5f6c72;
  --color-gray-50: #f2f4f5;
  --color-success: #2db224;
  --color-warning: #ebc80c;
  --color-danger: #ee5858;
  --color-warning-300: #f3de6d;
}
body {
  font-family: "Public Sans", sans-serif;
}

/* @layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
} */
